Repository unhindered-ec/unhindered-ec, pull requests merged in 2024-06, with the labels that each got.

#209 Remove all occurances of the rust-ga name and change it to unhindered_ec
  .github/workflows/ci.yml
  README.md
  benches/child_maker.rs
  benches/construction_benchmark.rs
  benches/hiff_benchmark.rs
  benches/lexicase_benchmarks.rs
  benches/lexicase_run_benchmarks.rs
  benches/run_benchmarks.rs
  benches/tournament.rs
Labels: A-documentation, A-ci, E-easy, I-prioritize, P-medium, S-waiting-on-review

#208 Fix clippy lints
  .helix/languages.toml
  Cargo.toml
  packages/push/src/instruction/exec/ifelse.rs
  packages/push/src/instruction/exec/unless.rs
  packages/push/src/instruction/exec/when.rs
  packages/push/src/push_vm/stack.rs
Labels: C-bug, A-clippy-lints, disposition-merge, E-easy, P-medium, S-waiting-on-review

#199 Use `saturating_neg()` for integer negation (issue #191)
  .vscode/settings.json
  packages/push/src/instruction/exec/dup_block.rs
  packages/push/src/instruction/int/mod.rs
  packages/push/src/instruction/int/negate.rs
  packages/push/tests/int.rs
Labels: C-bug, A-push-instructions, E-easy, E-needs-test, I-crash, C-small, P-high, relnotes, S-needs-repro, S-design-concerns, S-waiting-on-review, S-waiting-on-team

#215 Make `push::error::stateful::new_boxed` const
  packages/push/src/error/stateful.rs
Labels: A-push-interpreter, C-optimization, disposition-merge, E-easy, C-small, P-low, relnotes, C-improvement

#216 Add associated `Error` type to `Operators`
  Cargo.lock
  Cargo.toml
  packages/ec-core/Cargo.toml
  packages/ec-core/src/generation.rs
  packages/ec-core/src/operator/composable/and.rs
  packages/ec-core/src/operator/composable/map.rs
  packages/ec-core/src/operator/composable/repeat_with.rs
  packages/ec-core/src/operator/composable/then.rs
  packages/ec-core/src/operator/genome_extractor.rs
  packages/ec-core/src/operator/genome_scorer.rs
  packages/ec-core/src/operator/identity.rs
  packages/ec-core/src/operator/mod.rs
  packages/ec-core/src/operator/mutator/mod.rs
  packages/ec-core/src/operator/recombinator/mod.rs
  packages/ec-core/src/operator/selector/mod.rs
Labels: C-cleanup, disposition-merge, E-medium, P-medium, relnotes, C-improvement, A-ec-core
