Repository unhindered-ec/unhindered-ec, pull requests merged in 2024-12, with the labels that each got.

#285 Add `Operator` implementations for references to other operators (like `Mutator`)
  packages/ec-core/src/operator/genome_extractor.rs
  packages/ec-core/src/operator/genome_scorer.rs
  packages/ec-core/src/operator/identity.rs
  packages/ec-core/src/operator/mod.rs
  packages/ec-core/src/operator/mutator/mod.rs
  packages/ec-core/src/operator/recombinator/mod.rs
  packages/ec-core/src/operator/selector/mod.rs
Labels: A-combinators, A-selectors, E-medium, P-medium, S-waiting-on-review, A-mutators, A-ec-core

#301 Apply suggestions from zizmor static analysis tool
  .github/workflows/ci.yml
Labels: A-ci, A-security, disposition-merge, E-easy, C-small, P-low, S-waiting-on-review, C-improvement

#316 Add `TestResults::len(&self) -> usize` method
  packages/ec-core/src/operator/selector/lexicase.rs
  packages/ec-core/src/test_results.rs
Labels: E-easy, C-small, P-low, relnotes, S-waiting-on-review, A-ec-core

#317 Remove useless conversion to same type (nightly clippy lint fix)
  packages/push/src/instruction/int/mod.rs
Labels: A-clippy-lints, C-cleanup, E-easy, C-small, P-low, S-waiting-on-review

#314 Build rustdoc in ci
  .github/workflows/ci.yml
Labels: A-ci, E-easy, C-small, P-medium, S-waiting-on-review, C-improvement

#305 Migrate away from anyhow Errors and to custom error types
  Cargo.lock
  Cargo.toml
  clippy.toml
  packages/ec-core/Cargo.toml
  packages/ec-core/benches/test_results.rs
  packages/ec-core/src/child_maker.rs
  packages/ec-core/src/distributions/collection.rs
  packages/ec-core/src/distributions/wrappers/owned.rs
  packages/ec-core/src/distributions/wrappers/slice_cloning.rs
  packages/ec-core/src/generation.rs
  packages/ec-core/src/operator/composable/and.rs
  packages/ec-core/src/operator/composable/map.rs
  packages/ec-core/src/operator/composable/repeat_with.rs
  packages/ec-core/src/operator/composable/then.rs
  packages/ec-core/src/operator/constant.rs
  packages/ec-core/src/operator/genome_extractor.rs
  packages/ec-core/src/operator/identity.rs
  packages/ec-core/src/operator/mutator/mod.rs
  packages/ec-core/src/operator/recombinator/mod.rs
  packages/ec-core/src/operator/selector/best.rs
  packages/ec-core/src/operator/selector/dyn_weighted.rs
  packages/ec-core/src/operator/selector/lexicase.rs
  packages/ec-core/src/operator/selector/mod.rs
  packages/ec-core/src/operator/selector/random.rs
  packages/ec-core/src/operator/selector/tournament.rs
  packages/ec-core/src/operator/selector/worst.rs
  packages/ec-core/src/population.rs
  packages/ec-core/src/weighted/weighted_pair.rs
  packages/ec-linear/Cargo.toml
  packages/ec-linear/examples/count_ones/main.rs
  packages/ec-linear/examples/hiff/main.rs
  packages/ec-linear/src/genome/bitstring.rs
  packages/ec-linear/src/mutator/umad.rs
  packages/ec-linear/src/mutator/with_one_over_length.rs
  packages/ec-linear/src/mutator/with_rate.rs
  packages/ec-linear/src/recombinator/crossover.rs
  packages/ec-linear/src/recombinator/errors.rs
  packages/ec-linear/src/recombinator/mod.rs
  packages/ec-linear/src/recombinator/two_point_xo.rs
  packages/ec-linear/src/recombinator/uniform_xo.rs
  packages/push/Cargo.toml
  packages/push/examples/complex_regression/main.rs
  packages/push/examples/median/main.rs
  packages/push/examples/simple_regression/main.rs
  packages/push/examples/smallest/main.rs
  packages/push/src/genome/plushy.rs
  packages/push/src/instruction/instruction_error.rs
  packages/push/src/instruction/int/mod.rs
  packages/push/src/push_vm/stack.rs
Labels: C-future-compat, E-medium, I-prioritize, P-high, relnotes, S-waiting-on-review, C-improvement

#223 Add specific `strum(to_string = …)` for Push `Push` instructions
  packages/push/Cargo.toml
  packages/push/src/instruction/bool.rs
  packages/push/src/instruction/float.rs
  packages/push/src/instruction/int/mod.rs
Labels: C-bug, A-push-instructions, A-testing, E-easy, E-needs-test, C-small, P-high, relnotes, S-waiting-on-author

#315 Add `Generation::into_population` method
  packages/ec-core/src/generation.rs
Labels: E-easy, C-small, P-low, relnotes, S-waiting-on-review, A-ec-core

#312 Change Error and Score structs to be newtypes
  packages/ec-core/src/test_results.rs
  packages/push/examples/complex_regression/main.rs
  packages/push/examples/median/main.rs
  packages/push/examples/simple_regression/main.rs
  packages/push/examples/smallest/main.rs
Labels: C-cleanup, E-easy, C-small, P-low, relnotes, S-waiting-on-review, A-ec-core

#309 Disable unwrap lint in tests, remove manual expect's
  clippy.toml
  packages/ec-core/src/distributions/one_of_macro.rs
  packages/ec-core/src/operator/composable/then.rs
  packages/ec-core/src/operator/genome_extractor.rs
  packages/ec-core/src/operator/mutator/mod.rs
  packages/ec-core/src/operator/recombinator/mod.rs
  packages/ec-core/src/operator/selector/best.rs
  packages/ec-core/src/operator/selector/dyn_weighted.rs
  packages/ec-core/src/operator/selector/lexicase.rs
  packages/ec-core/src/operator/selector/mod.rs
  packages/ec-core/src/operator/selector/random.rs
  packages/ec-core/src/operator/selector/tournament.rs
  packages/ec-core/src/operator/selector/worst.rs
  packages/ec-core/src/weighted/weighted_pair.rs
  packages/ec-linear/src/mutator/umad.rs
  packages/ec-linear/src/mutator/with_one_over_length.rs
  packages/push/benches/regression-evaluation.rs
  packages/push/src/instruction/bool.rs
  packages/push/src/instruction/exec/dup_block.rs
  packages/push/src/instruction/exec/ifelse.rs
  packages/push/src/instruction/exec/noop.rs
  packages/push/src/instruction/exec/unless.rs
  packages/push/src/instruction/exec/when.rs
  packages/push/src/instruction/int/abs.rs
  packages/push/src/instruction/int/negate.rs
  packages/push/src/instruction/variable_name.rs
  packages/push/src/push_vm/program.rs
  packages/push/src/push_vm/push_state.rs
  packages/push/src/push_vm/stack.rs
  packages/push/tests/float.rs
  packages/push/tests/int.rs
Labels: A-testing, E-easy, C-small, P-low, S-waiting-on-review
