Repository unhindered-ec/unhindered-ec, pull requests merged in 2025-01, with the labels that each got.

#313 Change stack try_extend impl to avoid additional heap allocations
  packages/push-macros/src/push_state/printing/generate_builder.rs
  packages/push/src/push_vm/program.rs
  packages/push/src/push_vm/stack.rs
Labels: C-bug, A-push-interpreter, C-optimization, E-easy, C-small, P-low, S-waiting-on-review, C-improvement

#308 Implement Population trait via a blanket impl for any objects that have a sized iterator from it's reference and not just for `Vec<T>`
  packages/ec-core/src/operator/selector/best.rs
  packages/ec-core/src/operator/selector/mod.rs
  packages/ec-core/src/operator/selector/tournament.rs
  packages/ec-core/src/population.rs
  packages/ec-core/src/test_results.rs
  packages/ec-core/src/weighted/weighted_pair.rs
  packages/push/src/push_vm/push_state.rs
  packages/push/src/push_vm/stack.rs
  packages/push/tests/float.rs
Labels: A-selectors, E-easy, C-small, P-low, relnotes, S-waiting-on-review

#307 Move from static `ThreadRng` parameter to generic `R: Rng + ?Sized`.
  Cargo.lock
  Cargo.toml
  packages/ec-core/Cargo.toml
  packages/ec-core/src/child_maker/erased.rs
  packages/ec-core/src/child_maker/mod.rs
  packages/ec-core/src/distributions/choices.rs
  packages/ec-core/src/distributions/conversion.rs
  packages/ec-core/src/genome.rs
  packages/ec-core/src/individual/mod.rs
  packages/ec-core/src/individual/scorer.rs
  packages/ec-core/src/operator/composable/and.rs
  packages/ec-core/src/operator/composable/map.rs
  packages/ec-core/src/operator/composable/mod.rs
  packages/ec-core/src/operator/composable/repeat_with.rs
  packages/ec-core/src/operator/composable/then.rs
  packages/ec-core/src/operator/constant.rs
  packages/ec-core/src/operator/erased.rs
  packages/ec-core/src/operator/genome_extractor.rs
  packages/ec-core/src/operator/genome_scorer.rs
  packages/ec-core/src/operator/identity.rs
  packages/ec-core/src/operator/mod.rs
  packages/ec-core/src/operator/mutator/erased.rs
  packages/ec-core/src/operator/mutator/mod.rs
  packages/ec-core/src/operator/recombinator/erased.rs
  packages/ec-core/src/operator/recombinator/mod.rs
  packages/ec-core/src/operator/selector/best.rs
  packages/ec-core/src/operator/selector/dyn_weighted.rs
  packages/ec-core/src/operator/selector/erased.rs
  packages/ec-core/src/operator/selector/lexicase.rs
  packages/ec-core/src/operator/selector/mod.rs
  packages/ec-core/src/operator/selector/random.rs
  packages/ec-core/src/operator/selector/tournament.rs
  packages/ec-core/src/operator/selector/worst.rs
  packages/ec-core/src/population.rs
  packages/ec-core/src/weighted/mod.rs
  packages/ec-core/src/weighted/weighted_pair.rs
  packages/ec-core/src/weighted/with_weight.rs
  packages/ec-linear/Cargo.toml
  packages/ec-linear/src/genome/bitstring.rs
  packages/ec-linear/src/genome/mod.rs
  packages/ec-linear/src/mutator/umad.rs
  packages/ec-linear/src/mutator/with_one_over_length.rs
  packages/ec-linear/src/mutator/with_rate.rs
  packages/ec-linear/src/recombinator/two_point_xo.rs
  packages/ec-linear/src/recombinator/uniform_xo.rs
  packages/ec-macros/Cargo.toml
  packages/ec-macros/src/lib.rs
  packages/ec-macros/src/modification.rs
  packages/push/Cargo.toml
  packages/push/src/error/into_state.rs
  packages/push/src/error/mod.rs
  packages/push/src/error/stateful.rs
  packages/push/src/error/try_recover.rs
  packages/push/src/instruction/mod.rs
  packages/push/src/push_vm/mod.rs
  packages/push/src/push_vm/stack.rs
Labels: C-cleanup, E-medium, P-medium, relnotes, S-waiting-on-review, C-improvement, A-ec-core

#322 Derive `Clone` for `Score`, `Error`, and `TestResults`
  .vscode/settings.json
  packages/ec-core/src/test_results.rs
Labels: P-medium, relnotes, S-waiting-on-review, C-improvement, A-ec-core

#330 Make `ec-macros` publishable
  packages/ec-macros/Cargo.toml
Labels: A-documentation, C-cleanup, E-easy, A-macros, C-small, P-medium, relnotes, S-waiting-on-review

#329 Add readme placeholders
  packages/ec-core/README.md
  packages/ec-linear/README.md
  packages/ec-macros/README.md
  packages/push-macros/README.md
  packages/push/README.md
Labels: A-documentation, E-easy, C-small, P-high, S-waiting-on-review

#331 Update `rand` to `beta.3`
  Cargo.lock
  Cargo.toml
  packages/ec-core/src/distributions/choices.rs
  packages/ec-core/src/distributions/conversion.rs
  packages/ec-core/src/distributions/wrappers/choose_cloning.rs
  packages/ec-core/src/distributions/wrappers/mod.rs
  packages/ec-core/src/distributions/wrappers/owned.rs
Labels: C-bug, C-cleanup, E-medium, C-small, P-medium, relnotes, S-waiting-on-review, A-ec-core

#332 Document the publishing process
  CONTRIBUTING.md
Labels: A-documentation, E-easy, C-small, S-waiting-on-review
